main {
  padding: 30px 20px 30px 20px;
}

.items-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 20px 0 20px 0;
}

.item-list_img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list_img img {
  height: 50px;
  width: 50px;
}

.item-list_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 130px;
}

.item-list_info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.5);
}

.item-list_info-price {
  font-weight: bold;
}

.items-list div {
  margin: 10px;
}

.write-btn {
  position: fixed;
  bottom: 120px;
  right: 20px;

  font-size: 15px;
  background-color: orangered;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
